* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  height: 80vh;
  background-color: #ccc;
  margin: 5rem auto;
  padding: 2rem;
}

.div01 {
  border: 1px solid black;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 15px;
  margin: 2rem;
  text-align: right;
}

.div02 {
  border: 5px red solid;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 2rem;
  overflow-y: scroll;
  height: 50%;
  background-color: black;
  color: white;
}
